<div class="document animation-document">
    <br>
    <br>
    <br>
    <br>
    <div id="animation1" class="animation-row">
        <div class="animation">
            <div class="animation1-box">
                <div class="animation1-rect">
                    <div class="animation1-button">
                        <div class="animation1-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="code">
        </div>
    </div>
    <div id="animation2" class="animation-row">
        <div class="animation">
            <div class="animation2-box">
                <div class="animation2-rect1">
                    <div class="animation2-rect2">
                        <div class="animation2-button">
                            <div class="animation2-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="code">
        </div>
    </div>
    <div id="animation3" class="animation-row">
        <div class="animation">
            <div class="animation3-box">
                <div class="animation3-rect1"></div>
                <div class="animation3-rect2">
                    <div class="animation3-rect2-1"></div>
                    <div class="animation3-rect2-2"></div>
                </div>
                <div class="animation3-rect3"></div>
            </div>
        </div>
        <div class="code">
        </div>
    </div>
</div>