<app-navigation></app-navigation>
<div class="document animation-document">
    <br>
    <br>
    <br>
    <br>
    <h1 class="animation-num">Animation 1</h1>
    <div id="animation1" class="animation-row loading-row">
        <div class="animation">
            <div id="animation1-three-dot">
                <div id="three-dot1" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot2" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot3" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot4" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot5" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot6" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <div class="code">
            <ul>
                <li>Part 1: opacity changes from 0 to 1 with delay</li>
                <li>Part 2: scale changes from 1 to 1.5 with delay</li>
                <li>Part 3: background-color change from silve to transparent with delay</li>
                <li>Part 4: translateY changes from 10px to 0px with delay</li>
                <li>Part 5: scale changes from 0 to 1 with delay</li>
                <li>Part 6: adds box-shadow with delay</li>
            </ul>
        </div>
    </div>
    <h1 class="animation-num">Animation 2</h1>
    <div id="animation2" class="animation-row loading-row">
        <div class="animation">
            <div class="animation2-circles">
                <div class="circles" id="circles1">
                    <div class="c c1"></div>
                    <div class="c c2"></div>
                    <div class="c c3"></div>
                    <div class="c c4"></div>
                    <div class="c c5"></div>
                    <div class="c c6"></div>
                    <div class="c c7"></div>
                    <div class="c c8"></div>
                </div>
                <div class="circles" id="circles2">
                    <div class="c c1"></div>
                    <div class="c c2"></div>
                    <div class="c c3"></div>
                    <div class="c c4"></div>
                    <div class="c c5"></div>
                    <div class="c c6"></div>
                    <div class="c c7"></div>
                    <div class="c c8"></div>
                </div>
            </div>
        </div>
        <div class="code">
            <ul>
                <li>Part 1: opacity flips between 0 and 1</li>
                <li>Part 2: background-color changes between transparent to aquamarine</li>
            </ul>
        </div>
    </div>
    <h1 class="animation-num">Animation 3</h1>
    <div id="animation3" class="animation-row loading-row">
        <div class="animation">
            <div class="symbols">
                <span id="symbol1">♫</span>
                <span id="symbol2">♬</span>
                <span id="symbol3">♫</span>
                <span id="symbol4">♬</span>
                <span id="symbol5">♫</span>
            </div>
        </div>
        <div class="code">
            <ul>
                <li>translateY changes from 0% to 100% with delay for every symbols</li>
                <li>color changes with delay for every symbols</li>
            </ul>
        </div>
    </div>
    <h1 class="animation-num">Animation 4</h1>
    <div id="animation4" class="animation-row loading-row">
        <div class="animation">
            <div id="balls">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
        <div class="code">
            <ul>
                <li> When bouncing down, scaleX increases to 1.2 and border-radius becomes 20px 20px 10px 10px</li>
            </ul>
        </div>
    </div>
    <h1 class="animation-num">Animation 5</h1>
    <div id="animation5" class="animation-row loading-row">
        <div class="animation">
            <div class="animation5-circle">
                <div class="animation5-circle-border" id="outer-circle">
                    <div class="animation5-circle-border" id="inner-circle"></div>
                </div>
            </div>
        </div>
        <div class="code">
            <ul>
                <li>2 divs with 50% border radius, border-top and border-down of 2px solid rotates for 360deg</li>
                <li>Inner circle rotates little slower</li>
            </ul>
        </div>
    </div>
</div>
