<app-navigation></app-navigation>
<div class="document animation-document">
    <br>
    <br>
    <br>
    <br>
    <div id="animation1" class="animation-row">
        <div class="animation">
            <div id="animation1-three-dot">
                <div id="three-dot1" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot2" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot3" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot4" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot5" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div id="three-dot6" class="three-dot">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation2" class="animation-row">
        <div class="animation">
            <div class="animation2-circles">
                <div class="circles">
                    <div class="c c1"></div>
                    <div class="c c2"></div>
                    <div class="c c3"></div>
                    <div class="c c4"></div>
                    <div class="c c5"></div>
                    <div class="c c6"></div>
                    <div class="c c7"></div>
                    <div class="c c8"></div>
                </div>
                <div class="circles">
                    <div class="c c1"></div>
                    <div class="c c2"></div>
                    <div class="c c3"></div>
                    <div class="c c4"></div>
                    <div class="c c5"></div>
                    <div class="c c6"></div>
                    <div class="c c7"></div>
                    <div class="c c8"></div>
                </div>
                <div class="circles">
                    <div class="c c1"></div>
                    <div class="c c2"></div>
                    <div class="c c3"></div>
                    <div class="c c4"></div>
                    <div class="c c5"></div>
                    <div class="c c6"></div>
                    <div class="c c7"></div>
                    <div class="c c8"></div>
                </div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation3" class="animation-row">
        <div class="animation">
            <div class="symbols">
                <span id="symbol1">♫</span>
                <span id="symbol2">♬</span>
                <span id="symbol3">♫</span>
                <span id="symbol4">♬</span>
                <span id="symbol5">♫</span>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation4" class="animation-row">
        <div class="animation">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <!-- <div class="ball-shadow"></div> -->
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation5" class="animation-row">
        <div class="animation">
            <div class="animation5-clock">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 100 100">
                    <g transform="translate(-164 -373)">
                        <g class="clock-circle" data-name="Ellipse 282" transform="translate(164 373)" fill="none" stroke="#00ffc4" stroke-width="1">
                        <circle cx="50" cy="50" r="50" stroke="none"/>
                        <circle cx="50" cy="50" r="49.5" fill="none"/>
                        </g>
                        <path id="Path_766" data-name="Path 766" d="M224,5530.688v-9.381" transform="translate(-10 -5147)" fill="none" stroke="#009f55" stroke-width="3"/>
                        <path id="Path_767" data-name="Path 767" d="M224,5611.849v5.771" transform="translate(-10 -5147)" fill="none" stroke="#009f55" stroke-width="2"/>
                        <path id="Path_768" data-name="Path 768" d="M266.426,5570h5.256" transform="translate(-10 -5147)" fill="none" stroke="#009f55" stroke-width="2"/>
                        <path id="Path_769" data-name="Path 769" d="M266.426,5570h5.256" transform="translate(-100 -5147)" fill="none" stroke="#009f55" stroke-width="2"/>
                        <path id="Path_770" data-name="Path 770" d="M224,5534.2v35.91" transform="translate(-10 -5147)" fill="none" stroke="#00ffc4" stroke-width="1"/>
                        <path id="Path_771" data-name="Path 771" d="M224,5534.2v16.143" transform="translate(-10 -5127.233)" fill="none" stroke="#00a81a" stroke-width="1"/>
                    </g>
                </svg>    
            </div>  
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation6" class="animation-row">
        <div class="animation">
            <div class="animation6-circle">
                <div class="animation6-circle-border"></div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
</div>
