<app-navigation></app-navigation>
<div class="document animation-document">
        <br>
        <br>
        <br>
        <br>
        <div id="animation1" class="animation-row">
            <div class="animation">
                <div class="animation1-background">
                    <div class="animation1-hover-me">Hover me</div>
                </div>
            </div>
            <div class="code">
    
            </div>
        </div>
        <div id="animation2" class="animation-row">
            <div class="animation">
                <div class="animation2-box">
                    <div class="animation2-container1"></div>
                    <div class="animation2-container2"></div>
                    <div class="animation2-container3"></div>
                </div>
            </div>
            <div class="code">
    
            </div>
        </div>
        <div id="animation3" class="animation-row">
            <div class="animation">
                <div class="animation3-background"></div>
            </div>
            <div class="code">
            </div>
        </div>
</div>
