<app-navigation></app-navigation>
<div class="document animation-document">
        <br>
        <br>
        <br>
        <br>
        <h1 class="animation-num">Animation 1</h1>
        <div id="animation1" class="animation-row background-row">
            <div class="animation">
                <div class="animation1-background">
                    <div class="animation1-hover-me">Hover me</div>
                </div>
            </div>
            <div class="code">
                <ul><li>Only changes color to blueviolet on hover</li></ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 2</h1>
        <div id="animation2" class="animation-row background-row">
            <div class="animation">
                <div class="animation2-box">
                    <div class="animation2-container1"></div>
                    <div class="animation2-container2"></div>
                    <div class="animation2-container3"></div>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>A div has image background</li>
                    <li>Div has 3 containers</li>
                    <li>These containers have flex display and flex-direction is row</li>
                    <li>First and third containers have black background</li>
                    <li>Second container has transparent background with 20% width</li>
                    <li>Using keyframes, both container keep increasing and descreasing their widths</li>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 3</h1>
        <div id="animation3" class="animation-row background-row">
            <div class="animation">
                <div class="animation3-background"></div>
            </div>
            <div class="code">
                <ul>
                    <li>A 90deg linear background is created with 200% 100% background-size</li>
                    <li>Using keyframes, background-position changes from 0% 100% to 100% 100%</li>
                </ul>
            </div>
        </div>
</div>
