<app-navigation></app-navigation>
<div class="document animation-document">
        <br>
        <br>
        <br>
        <br>
        <h1 class="animation-num">Animation 1</h1>
        <div id="animation1" class="animation-row button-row">
            <div class="animation">
                <div class="animation1-box">
                    <button mat-button class="animation1-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                An easy transition on hover using inset for box-shadow.
            </div>
        </div>
        <h1 class="animation-num">Animation 2</h1>
        <div id="animation2" class="animation-row button-row">
            <div class="animation">
                <div class="animation2-box">
                    <button mat-button class="animation2-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                An easy transition on hover using outline for box-shadow.
            </div>
        </div>
        <h1 class="animation-num">Animation 3</h1>
        <div id="animation3" class="animation-row button-row">
            <div class="animation">
                <div class="animation3-box">
                    <button mat-button class="animation3-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>A linear <u>background-image</u> with 45deg with green and transparent color.</li>
                    <li>The size of background is 250%</li>
                    <li>The position of background is placed at 100% bottom-left position.</li><br>
                    <li>On hover, the position of background comes at 0%</li>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 4</h1>
        <div id="animation4" class="animation-row button-row">
            <div class="animation">
                <div class="animation4-box">
                    <button mat-button class="animation4-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>On hover:</li>
                    <ul>
                        <li>The button scales to 1.2</li>
                        <li>Background color changes to transparent</li>
                        <li>Border-top and border-bottom is added</li>
                    </ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 5</h1>
        <div id="animation5" class="animation-row button-row">
            <div class="animation">
                <div class="animation5-box">
                    <button mat-button class="animation5-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>An element is inserted before and after the button.</li>
                    <li>On hover: </li>
                    <ul><li>One rotates at 45 deg and other at -45 deg</li></ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 6</h1>
        <div id="animation6" class="animation-row button-row">
            <div class="animation">
                <div class="animation6-box">
                    <button mat-button class="animation6-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>An element is inserted before and after the button.</li>
                    <li>Before element has background-color</li>
                    <li>After element has no visible style. It has position, dimesion and border of 0px style.</li>
                    <li>On hover: </li>
                    <ul>
                        <li>Before element scales to 0</li>
                        <li>After element sclaes to 1.2 and will have border of 1px</li>
                    </ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 7</h1>
        <div id="animation7" class="animation-row button-row">
            <div class="animation">
                <div class="animation7-box">
                    <button mat-button class="animation7-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>On hover:</li>
                    <ul>
                        <li>The button scales to 1.2</li>
                        <li>A box-shadow of outline is added</li>
                    </ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 8</h1>
        <div id="animation8" class="animation-row button-row">
            <div class="animation">
                <div class="animation8-box">
                    <button mat-button class="animation8-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>An element is created before the button.</li>
                    <li>It is of scale 0 at -100% top position. It also has a border-bottom of 1px</li>
                    <li>On hover: </li>
                    <ul>
                        <li>Element scales to 1</li>
                        <li>Element's top position is 0%</li>
                    </ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 9</h1>
        <div id="animation9" class="animation-row button-row">
            <div class="animation">
                <div class="animation9-box">
                    <button mat-button class="animation9-btn">
                        <mat-icon>facebook</mat-icon>
                        <mat-icon>call</mat-icon>
                        <mat-icon>school</mat-icon>
                    </button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>Button has icons</li>
                    <li>Button has an after element</li>
                    <li>On hover:</li>
                    <ul><li>After element translateY -100%</li></ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 10</h1>
        <div id="animation10" class="animation-row button-row">
            <div class="animation">
                <div class="animation10-box">
                    <button mat-button class="animation10-btn">Hover Me</button>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>An element is created after the button with 50% width.</li>
                    <li>It at 25% left position with scale 0</li>
                    <li>On hover: </li>
                    <ul>
                        <li>The scale increases to 1 for after element.</li>
                        <li>The letter spacing increases to 2px.</li>
                    </ul>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 11</h1>
        <div id="animation11" class="animation-row button-row">
            <div class="animation">
                <div class="animation11-box">
                    <div class="animation11-rect">Home</div>
                    <div class="animation11-circle"><mat-icon>home</mat-icon></div>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>Using keyframes, home button keeps changes its width.</li>
                    <li>Using keyframes, home icon rolls using translateX and rotate</li>
                </ul>
            </div>
        </div>
        <h1 class="animation-num">Animation 12</h1>
        <div id="animation12" class="animation-row button-row">
            <div class="animation">
                <div class="animation12-rect">
                    <div class="animation12-wrapper">
                        <div class="animation12-border-button"></div>
                        <div class="animation12-button"><mat-icon>home</mat-icon></div>
                    </div>
                </div>
            </div>
            <div class="code">
                <ul>
                    <li>A border keeps rotating in Z deg</li>
                    <li>When hoverd over button, animation becomes none</li>
                </ul>
            </div>
        </div>
    </div>
    
