.animation-document {
    background-color: #f6ecc4;
    background-image: linear-gradient(180deg, #f6ecc4 0%, #f7d4d4 74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animation-row {
    margin: 5vh 0;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-row {
    height: 30vh;
}

.animation-num {
    margin-left: 5vw;
    letter-spacing: 1px;
    text-decoration: underline;
}

.animation {
    height: 100%;
    width: 35vw;
    background-color: black;
    font-family: 'Patrick Hand', cursive;
}

.code {
    height: 100%;
    width: 50vw;
    background-color: azure;
    font-size: 1.3em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}