<div id="navigation-bar">
    <div class="nav-item" id="logo"><a href="">Animations</a></div>
    <div class="nav-item" id="button-animations"><button mat-button routerLink="/button-animations">Button</button></div>
    <div class="nav-item" id="background-animations"><button mat-button routerLink="/background-animations">Background</button></div>
    <div class="nav-item" id="border-animations"><button mat-button routerLink="/border-animations">Border</button></div>
    <div class="nav-item" id="svg-animations"><button mat-button routerLink="/svg-animations">SVG</button></div>
    <div class="nav-item" id="loading-animations"><button mat-button routerLink="/loading-animations">Loading</button></div>
</div>
