/* You can add global styles to this file, and also import other style files */
.document {
    min-height: 100vh;
    width: 100vw;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Patrick Hand', cursive; }
