<div class="document animation-document">
    <div class="intro">
        <h1>
            <span>A</span>
            <span>n</span>
            <span>i</span>
            <span>m</span>
            <span>a</span>
            <span>t</span>
            <span>i</span>
            <span>o</span>
            <span>n</span>
            <span>s</span>
        </h1>
    </div>
    <div class="intro"><h3>
        <span>T</span>
        <span>h</span>
        <span>i</span>
        <span class="word-end">s</span>
        <span>i</span>
        <span class="word-end">s</span>
        <span>m</span>
        <span class="word-end">y</span>
        <span>c</span>
        <span>h</span>
        <span>e</span>
        <span>a</span>
        <span class="word-end">t</span>
        <span>s</span>
        <span>h</span>
        <span>e</span>
        <span>e</span>
        <span>t</span>
    </h3></div>
    <div class="intro">
        <button mat-raised-button routerLink="button-animations">Button Animations</button>
        <button mat-raised-button routerLink="background-animations">Background Animations</button>
        <button mat-raised-button routerLink="border-animations">Border Animations</button>
        <button mat-raised-button routerLink="svg-animations">SVG Animations</button>
        <button mat-raised-button routerLink="loading-animations">Loading Animations</button>
    </div>
</div>