<div class="document animation-document">
    <div class="intro"><h1>Animations</h1></div>
    <div class="intro"><h3>This is my cheat sheet</h3></div>
    <div class="intro">
        <button mat-raised-button routerLink="button-animations">Button Animations</button>
        <button mat-raised-button routerLink="background-animations">Background Animations</button>
        <button mat-raised-button routerLink="border-animations">Border Animations</button>
        <button mat-raised-button routerLink="loading-animations">Loading Animations</button>
    </div>
</div>