<div class="document animation-document">
    <br>
    <br>
    <br>
    <br>
    <div id="animation1" class="animation-row">
        <div class="animation">
            <div class="animation1-background">
                <div class="animation1-hover-me">Hover me</div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation2" class="animation-row">
        <div class="animation">
            <div class="animation2-box">
                <button mat-button class="animation2-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation3" class="animation-row">
        <div class="animation">
            <div class="animation3-box">
                <button mat-button class="animation3-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation4" class="animation-row">
        <div class="animation">
            <div class="animation4-box">
                <button mat-button class="animation4-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation5" class="animation-row">
        <div class="animation">
            <div class="animation5-box">
                <button mat-button class="animation5-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation6" class="animation-row">
        <div class="animation">
            <div class="animation6-box">
                <button mat-button class="animation6-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation7" class="animation-row">
        <div class="animation">
            <div class="animation7-box">
                <button mat-button class="animation7-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation8" class="animation-row">
        <div class="animation">
            <div class="animation8-box">
                <button mat-button class="animation8-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation9" class="animation-row">
        <div class="animation">
            <div class="animation9-box">
                <button mat-button class="animation9-btn">Hover Me</button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation10" class="animation-row">
        <div class="animation">
            <div class="animation10-box">
                <button mat-button class="animation10-btn">
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>call</mat-icon>
                    <mat-icon>school</mat-icon>
                </button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation11" class="animation-row">
        <div class="animation">
            <div class="animation11-box">
                <button mat-button class="animation11-btn"><mat-icon>facebook</mat-icon></button>
            </div>
        </div>
        <div class="code">
            
        </div>
    </div>
    <div id="animation12" class="animation-row">
        <div class="animation">
            <div class="animation12-box">
                <div class="animation12-container1"></div>
                <div class="animation12-container2"></div>
                <div class="animation12-container3"></div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation13" class="animation-row">
        <div class="animation">
            <div class="animation13-box">
                <div class="animation13-circle" id="circle1"></div>
                <div class="animation13-circle" id="circle2"></div>
                <div class="animation13-circle" id="circle3"></div>
                <div class="animation13-circle" id="circle4"></div>
                <div class="animation13-circle" id="circle5"></div>
                <div class="animation13-circle" id="circle6"></div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
    <div id="animation14" class="animation-row">
        <div class="animation">
            <div class="animation14-box">
                <div class="animation14-rect">Home</div>
                <div class="animation14-circle"><mat-icon>home</mat-icon></div>
            </div>
        </div>
        <div class="code">

        </div>
    </div>
</div>
